.school {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.school label {
  font-weight: bold;
  margin-top: 10px;
}

.school input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.school button {
  align-items: center;
  margin-top: 20px;
}
